<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<title>测试页</title>
	<link rel="stylesheet" href="../../public/css/reset.css">
	<link rel="stylesheet" href="../../public/css/include/common-header.css">

</head>
<body>
	<% include include/common-header.html %>
	<p>页面搭建中</p>
</body>
</html>