<div class="shelf">
	<div class="shelf__top">
		<div class="shelf__switch"></div>
		<a href="/search">
			<div class="shelf-search">输入书名/作者/关键字</div>
		</a>
	</div>
	<ul class="book-list">
		<li>
			<div class="u-book">
				<a>
					<div class="book-cover">
						<img alt="盗墓笔记" src="http://cover.read.duokan.com/mfsv2/download/s010/p01yfPOuJRok/dQJSYfAnD3AB42.jpg!s">
					</div>
				</a>
				<div class="info">
					<h3 class="title">盗墓笔记</h3>
					<p class="author">
						<span class="author">南派三叔</span>
					</p>
					<div class="wrap">
						<p>最新:《后记》</p>
					</div>
				</div>
			<div>
		</li>
		<li>
			<div class="u-book">
				<a>
					<div class="book-cover">
						<img alt="盗墓笔记" src="http://cover.read.duokan.com/mfsv2/download/s010/p01yfPOuJRok/dQJSYfAnD3AB42.jpg!s">
					</div>
				</a>
				<div class="info">
					<h3 class="title">盗墓笔记</h3>
					<p class="author">
						<span class="author">南派三叔</span>
					</p>
					<div class="wrap">
						<p>最新:《后记》</p>
					</div>
				</div>
			<div>
		</li>
	</ul>
</div>







